* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(19, 162, 209, 0.891);
}


.header {
    color: white;
    display: flex;
    justify-content: center;
    margin: 4.0rem;
    font-family: sans-serif;
    font-weight: 600;
    font-size: xx-large;
}


.container {
    display: flex;
    flex-direction: column;
}

.buttondiv {
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.button {
    background-color: goldenrod;
    border-radius: .4rem;
    font-size: small;
    color: white;
    cursor: pointer;
    padding: .4rem;
}

.lista {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-family: sans-serif;

}

.mainTable {
    border: 5px solid goldenrod;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding: 8px;

}

.mainTable td {
    color: rgb(236, 237, 236);
    font-weight: bold;
}

.mainTable a {
    color: rgb(0, 13, 255);
    padding: 4px;
    text-decoration: underline;
    cursor: pointer;

}

td {
    padding-left: 175px;

}


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 600px;
    margin: auto;
    font-family: sans-serif;

}

.classValidate {
    color: red;
    margin-left: 5px;
    font-size: small;
}

.hide {
    display: none;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

@media (max-width: 450px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        align-items: center;
        padding-right: 150px;
    }

    .button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        align-items: center;

    }
}

@media (max-width: 450px) {
    .mainTable {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .mainTable td {
        text-align: justify;
        padding: 16px;
    }

    .mainTable th {
        padding-right: 67px;
        color: rgb(0, 5, 5);
    }

    .body {
        background-size: 100%;
        margin: 0;
        padding: 0;
    }


}