* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 102, 120);
}


.header {
    color: white;
    display: flex;
    justify-content: center;
    margin: 4.0rem;
    font-family: sans-serif;
    font-weight: 600;
    font-size: xx-large;
}


.container {
    display: flex;
    flex-direction: column;
}

.buttondiv {
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.button {
    background-color: goldenrod;
    border-radius: .4rem;
    font-size: small;
    color: white;
    cursor: pointer;
    padding: .4rem;
}

.lista {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-family: sans-serif;

}

.mainTable {
    border: 4px solid darkgoldenrod;
    width: 100%;
    color: white;
    font-family: sans-serif;


}

.mainTable td {
    color: black;
    font-weight: bold;
}

.mainTable a {
    color: rgb(0, 13, 255);
    padding: 4px;
    text-decoration: underline;
    cursor: pointer;

}

td {
    padding-left: 175px;

}


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 600px;
    margin: auto;
    font-family: sans-serif;

}

@media (max-width: 450px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        align-items: center;
        padding-right: 150px;
    }

    .button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        align-items: center;

    }
}